p   {color: blueviolet;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    }

h1  {color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 500%;
    }

body {background-color: gray;
     }